<div id="<%= dom_id monster_card %>">
  <p>
    <strong>Name:</strong>
    <%= monster_card.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= monster_card.kind %>
  </p>

  <p>
    <strong>Attack:</strong>
    <%= monster_card.attack %>
  </p>

  <p>
    <strong>Defense:</strong>
    <%= monster_card.defense %>
  </p>

</div>
