<p style="color: green"><%= notice %></p>

<%= render @monster_card %>

<div>
  <%= link_to "Edit this monster card", edit_monster_card_path(@monster_card) %> |
  <%= link_to "Back to monster cards", monster_cards_path %>

  <%= button_to "Destroy this monster card", @monster_card, method: :delete %>
</div>
